// styles for App component

.App
  font-size: 1.4rem
  text-align: center

  header
    background-color: $main-color
    color: #fff
    padding: 100px $block-spacing

    h1
      font-size: 2rem
      letter-spacing: 1px

  nav
    margin: $block-spacing

    li
      display: inline-block
      margin: 0 0.5em

  footer
    background-color: $main-color
    box-sizing: border-box
    color: #fff
    padding: $block-spacing
    position: absolute
    bottom: 0
    width: 100%
