// styles for Top component

.Top
  content-block()

  .count
    font-size: 1.6rem
    padding-bottom: 1em

  .ScrollBlock
    border: 1px solid rgba(#000, $border-opacity)
    box-sizing: border-box
    height: 250px
    padding: 10px
    width: 90%

    .ScrollBlock-loading
      background-color: rgba(#000, 0.3);
      color: #fff
      padding: 0.6em
      text-align: center

    h4
      margin-bottom: 1em

    .scroll-list
      li
        background-color: rgba($sub-color, 0.3)
        line-height: 1.5
        margin-bottom: 0.5em
        padding: 1em
