// styles for Top component

.Top
  content-block()

  .count
    font-size: 1.6rem
    padding-bottom: 1em

  .scrollable-block
    border: 1px solid rgba(#000, $border-opacity)
    box-sizing: border-box
    padding: 10px
    height: 300px
    width: 90%
