<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="utf-8")
    title frill
    link(rel='stylesheet', href='/style.css')

  body
    div#app!= markup
    script(src='https://fb.me/react-0.13.3.js')
    //- script(src='https://fb.me/react-0.13.3.min.js')
    script(id='initial-data', type='text/plain', data-json=initialData)
    script(src='/bundle.js')
